node_modules

# Output
dist
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Svelte
.svelte-kit

# Database
*.db

# Logs
logs
*.log
npm-debug.log*

# Python
.venv
venv
__pycache__

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Misc.
imagenet_class_index.json